pipeline/01_Incremental_sales_pipeline.json
{
	"name": "01_Incremental_sales_pipeline",
	"properties": {
		"description": "Watermark-based incremental load: Lookup watermark, filter new records via Mapping Data Flow, upsert to SQL, update watermark. Includes try/catch error logging.",
		"activities": [
			{
				"name": "Lookup_lastdate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(LastModifiedDate), '1900-01-01') AS NewWatermarkValue FROM Sales_Target;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SalesSQLsink",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Load_Incremental_Sales",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Lookup_lastdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_incremental_sales_load",
						"type": "DataFlowReference",
						"parameters": {
							"WatermarkValue": {
								"value": "@formatDateTime(activity('Lookup_lastdate').output.firstRow.NewWatermarkValue, 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 4,
						"computeType": "General"
					},
					"traceLevel": "Coarse",
					"runConcurrently": false
				}
			},
			{
				"name": "Lookup_new_watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Load_Incremental_Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(LastModifiedDate) AS NewWatermarkValue FROM Sales_Target;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SalesSQLsink",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "sp_update_watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup_new_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermarkValue]",
					"storedProcedureParameters": {
						"Tablename": {
							"value": "'Sales_Target'",
							"type": "String"
						},
						"Lastmodifieddate": {
							"value": {
								"value": "@activity('Lookup_new_watermark').output.firstRow.NewWatermarkValue",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlLS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Error_Lookup",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_lastdate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_error_handler",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"FailedActivityName": "Lookup_lastdate",
						"ErrorMessage": {
							"value": "@activity('Lookup_lastdate').error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log_Error_Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_Incremental_Sales",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_error_handler",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"FailedActivityName": "Load_Incremental_Sales",
						"ErrorMessage": {
							"value": "@activity('Load_Incremental_Sales').error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log_Error_New_Watermark",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_new_watermark",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_error_handler",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"FailedActivityName": "Lookup_new_watermark",
						"ErrorMessage": {
							"value": "@activity('Lookup_new_watermark').error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log_Error_Watermark",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "sp_update_watermark",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_error_handler",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"FailedActivityName": "sp_update_watermark",
						"ErrorMessage": {
							"value": "@activity('sp_update_watermark').error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-21T13:05:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
