pipeline/pl_databricks_delta_merge.json
{
	"name": "pl_databricks_delta_merge",
	"properties": {
		"description": "Runs the PySpark Delta Lake MERGE notebook on Databricks as an alternative to the ADF incremental pipeline.",
		"activities": [
			{
				"name": "Run_Delta_Merge_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/adf-incremental-sales-loading/notebooks/incremental_sales_delta_merge",
					"baseParameters": {
						"SOURCE_PATH": "abfss://input@rndlearning.dfs.core.windows.net/salesdata1.csv",
						"TARGET_TABLE": "main.sales.sales_target"
					}
				},
				"linkedServiceName": {
					"referenceName": "_ls_azure_Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Error_Databricks",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Run_Delta_Merge_Notebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_error_handler",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"FailedActivityName": "Run_Delta_Merge_Notebook",
						"ErrorMessage": {
							"value": "@activity('Run_Delta_Merge_Notebook').error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
