pipeline/pl_error_handler.json
{
	"name": "pl_error_handler",
	"properties": {
		"description": "Centralized error logging pipeline. Writes one immutable CSV per failure to ADLS monitoring/errors/.",
		"parameters": {
			"ParentPipelineName": {
				"type": "string"
			},
			"FailedActivityName": {
				"type": "string"
			},
			"ErrorMessage": {
				"type": "string"
			}
		},
		"variables": {
			"ErrorTimestamp": {
				"type": "String"
			}
		},
		"activities": [
			{
				"name": "Set_ErrorTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorTimestamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Write_Error_Log",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_ErrorTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT ''', replace(pipeline().parameters.ParentPipelineName, '''', ''''''), ''' AS PipelineName, ''', replace(pipeline().parameters.FailedActivityName, '''', ''''''), ''' AS ActivityName, ''', replace(replace(pipeline().parameters.ErrorMessage, '''', ''''''), '\\', '\\\\'), ''' AS ErrorMessage, ''', pipeline().RunId, ''' AS RunId, ''', variables('ErrorTimestamp'), ''' AS ErrorTimestamp')",
							"type": "Expression"
						},
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SalesSQLsink",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_error_log",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat('error_', pipeline().RunId, '.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
